input, textarea, select {
	font-size: 1.1em;
    border-radius: 6px;
    box-sizing: border-box;
    width: 300px;
    padding: 8px 10px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.05);
    border: 1px solid #c2c3c4;
    background-color: #fff;    
	border: 1px solid #c2c3c4;
    background-color: #fff;
}

input:hover, select:hover, textarea:hover {
    box-shadow: 1px 1px 4px rgba(0,0,0,.15);
}

input[type="checkbox"] {
	width: auto;
	vertical-align: text-bottom;
}

textarea {
	width: 300px;
}

select {
	display: initial;
	height: 30px;
	padding: 2px 5px;
}

button, input[type=submit], input[type=button] {
	padding: 10px 20px;
	font-size: 1em;
	cursor: pointer;
	border-radius: 25px;
	color: #000000;
	background-color: #ffc72c;
	border-color: #ffd98e #ffbe3d #de9300;
}

input[type=submit]:hover {
	background-color: #f7c027;
}

::placeholder {
	color: #bdbfc4;
}

label {
	display: block;
	color: #565656;
}